@model kutuphane.Models.Tur

@{
    ViewData["Title"] = "Tür Sil";
}

<div class="container mt-4">
    <h2>Tür Sil</h2>
    <hr />

    <h3>Bu türü silmek istediğinizden emin misiniz?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.turNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.turNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.turAciklama)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.turAciklama)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="turNo" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-action="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
